/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  transition: .5s;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.4px;
  line-height: 1.6;
  box-sizing: border-box;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
}
